<html>
<body>
<div class="container">
    <h2>ISDP Download Service</h2>
    <div>
        <p>The tar ball you have requested is ready to be downloaded (jobid: <%= jobid %>)</p>
        <a class="btn btn-primary" href="<%= download_url%>">Download (<b><%= size%></b> MB)</a>
    </div>
    
    <h3>Status Detail</h3>
    <table style="border-collapse: collapse;" width="100%">
    <% for(var taskid in status.tasks) { %>
    <tr>
        <td style="vertical-align: top; border-bottom: 1px solid #ccc; padding-top: 15px;" width="50">
            <% if(status.tasks[taskid].status == 'finished') {%>
                <span style="color:green;font-size: 150%;">✔</span>
            <% } else if(status.tasks[taskid].status == 'failed') { %>
                <span style="color:red;font-size: 150%;">✗</span>
            <% } else { %>
                <b><%=status.tasks[taskid].status%></b>
            <% } %>
        </td>
        <td style="border-bottom: 1px solid #ccc;">
            <p><%= status.tasks[taskid].name %></p>
            <p style="color: #777;"><%= status.tasks[taskid].msg %></p>
            <div style="padding-left: 10px; font-size: 90%">
                <% for(var subtaskid in status.tasks[taskid].tasks) { 
                    var subtask = status.tasks[taskid].tasks[subtaskid]; 
                %>
                    <% if(subtask.status == 'finished') {%>
                        <p style="color:green">✔
                    <% } else { %>
                        <p style="color:red">✗
                    <% } %>
                    &nbsp;
                    <%= subtask.name%>
                    </p>
                    <% if(subtask.status != 'finished') {%>
                        <pre style="color: red"><%= subtask.msg %></pre>
                    <% } %>
                    </li>
                <% } %>
            </div>
        </td>
    </tr>
    <% } %>
    </table>
</div>
</body>
</html>

